<footer class="font-small" >
    <div class="container">
        <div class=" row">
            <div class="col-md-3 col-6">
                <ul class="list-unstyled">
                    <li class="mt-md-3"><h5 class=" font-weight-bold ml-md-5">Company</h5></li>
                    <li class="mt-md-3"><h6 class="font-weight-bold ml-md-5">Our Petland</h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5">Our Team</h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5">Privacy policy</h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5">Refund Policy</h6></li>
                    <li class="mt-md-3"><h6 class="font-weight-bold ml-md-5">Terms & Services</h6></li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <ul class="list-unstyled">
                    <li class="mt-md-3"><h5 class=" font-weight-bold ml-md-5">Services </h5></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5">Pet Licensing</h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5">Veterinary</h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5">Grooming</h6></li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <ul class="list-unstyled">
                    <li class="mt-md-3"><h5 class=" font-weight-bold ml-md-5">Social Media </h5></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5"><a style="text-decoration: none;" href=" https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5"><a  style="text-decoration: none;" href="https://facebook.com/login"><i class="fab fa-facebook"></i> Facebook</a></h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5"><a  style="text-decoration: none;" href=" https://twitter.com/login"><i class="fab fa-twitter"></i> Twitter</a></h6></li>
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <ul class="list-unstyled">
                    <li class="mt-md-3"><h5 class=" font-weight-bold ml-md-5">Contact</h5></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5"><i class="fas fa-phone"></i> 230456</h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5"><i class="fab fa-whatsapp"></i> 9640987618</h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5"> <i class="fas fa-envelope"></i> rishisai1210@gmail.com </h6></li>
                    <li class="mt-md-3"><h6 class=" font-weight-bold ml-md-5"><i class="fas fa-map-marker-alt"></i> Site map </h6></li>
                </ul>
            </div>

            <br><br>
            <div class="copyright">
            <h6><i class="far fa-copyright"></i> Copy rights reserved to @Rishi Technologies pvt.ltd</h6>
            </div>


        </div>
    </div>
</footer>


